.play-table {
    width: 600px;
    padding-top: 50px;
}

table {
    width: 600px;
}

th,
td {
    width: 200px;
    overflow: hidden;
}

.form-froup {
    display: inline-block;
    padding: 15px 15px 15px 0;
}
