@page "/login"

<link href="./css/pages/login.css" rel="stylesheet" />

<h3>Login</h3>
<div class="login-form">
    <EditForm Model="LoginData" OnValidSubmit="LoginAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="username">Email address</label>
            <InputText id="username" @bind-Value="LoginData.UserName" placeholder="Username" type="password" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <InputText id="password" @bind-Value="LoginData.Password" placeholder="Password" type="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
</div>

