@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using BH.Client.Interfaces

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IHttpService HttpService

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <button class="nav-link btn btn-link" @onclick="LogoutAsync">Log out</button>
        <@BH.Client.Pages.Play />
    </Authorized>
    <NotAuthorized>
        <a href="login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task LogoutAsync(MouseEventArgs args)
    {
        var result = await HttpService.LogoutAsync();
        if (result.IsSuccess)
        {
            Navigation.NavigateTo("/login");
            StateHasChanged();
        }
    }
}